$clr-dark: rgb(30,30,30);
$clr-success: #38EF7D;
$clr-warning: #FFEC43;
$clr-error: #EC3D2F;

$clr-primary: #ECBF8C;
$clr-darker-primary: #E8BB87;
$clr-dark-primary: #DEB17D;

$clr-blue: #2C4CC1;
$clr-darker-blue: #3350B6;
$clr-dark-blue: #1D3489;

$clr-green: #43AE3A;
$clr-purple: #AE3A79;
$clr-red: #C13A30;

$clr-grey: #ADADAD;
$clr-grey2: #C4C4C4;
$clr-grey3: #E4E4E4;



$popup-width-xl: 1084px;

$content-width-xl: 1270px;
