.u-text-grey{
  color: $clr-grey;
}
.u-grey{
  background-color: $clr-grey;
  border-color: $clr-grey;
}

.u-text-primary{
  color: $clr-primary;
}
.u-primary{
  background-color: $clr-primary;
  border-color: $clr-primary;
}

.u-text-blue{
  color: $clr-blue;
}
.u-blue{
  background-color: $clr-blue;
  border-color: $clr-blue;
}

.u-text-dark-blue{
  color: $clr-dark-blue;
}
.u-dark-blue{
  background-color: $clr-dark-blue;
  border-color: $clr-dark-blue;
}


